.sidebar
  ul
    li 
      a(href=`${prefixAdmin}/dashboard`) Tong quan
    li 
      a(href=`${prefixAdmin}/topics`) Quan li chu de
    li 
      a(href=`${prefixAdmin}/songs`) Quan li bai hat
    li 
      a(href=`${prefixAdmin}/singers`) Quan li ca si
    li 
      a(href=`${prefixAdmin}/permissions`) Phan quyen
    li 
      a(href=`${prefixAdmin}/accounts`) Tai khoan admin
    li 
      a(href=`${prefixAdmin}/accounts/user`) Tai khoan user
    li 
      a(href=`${prefixAdmin}/settings/general`) Cai dat chung
